.Input{
    width: 100%;
    padding: 5rem;
    box-sizing: border-box;
}
.Label{
    font-weight: bold;
    display: block;
    margin-bottom: 3rem;

}
.Width4{
    min-width: 16rem !important; }
.InputStyle{
    
    box-sizing: border-box;
    width: 6.2rem;
    font-size: .8rem;
    border-radius: 7px;
    margin: .3rem;
    padding: .2rem .5rem;
    font-family: lalezar;

}
.Invalid{
    border: 2px solid salmon;
}

.InputStyle:focus{
    outline: none;
}

@media only screen and (max-width: 600px) {
    .InputStyle{
        max-width: 80%;   }
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .InputStyle{
        max-width: 80vw;    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .InputStyle{
        max-width: 70vw;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .InputStyle{
        max-width: 60vw;    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .InputStyle{
        max-width: 45vw;
    }
}